.affair_container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 9vw 9vw 2vw ;
}


@media (max-width: 1300px ) {
    .affair_container {
        grid-template-columns: 18vw 19vw 3vw;
    }
}

@media (max-width: 700px ) {
    .affair_container {
        grid-template-columns: 32vw 33vw 5vw;
    }
}

