.affairs_withBtn_container {
    display: flex;
    flex-direction: column;
    margin: 30px 40px 50px;
    width: 20vw;
}
.affairs_container {
    background-color: rgba(68, 169, 135, 0.35);
}
.filter_buttons_container {
    border: 1px solid red;
    margin-top: 15px;
}
.filter_buttons_container button {
    width: 25%;
}


@media (max-width: 1300px ) {
    .affairs_container {
        width: 40vw;
    }
    .filter_buttons_container {
        width: 40vw;
    }
}